h3{
    font-family: sans-serif;
}

.row-center{
    margin-left: 0;
    margin-right: 0;
    padding: 10px 100px 20px 100px;
}

// .row{
//     margin-left: 0;
//     margin-right: 0;
//     padding: 10px 100px 20px 100px;
// }

.height-class{
    height: 500px!important;
}

.description{
    font-family:sans-serif;
    font-size: 20px;
    color:blue;
}

p{
    font-family: sans-serif;
}

h3 .card-title{
    vertical-align: center;
    font-family: sans-serif;
}

@media (max-width: 992px){
    .h3 .card-title {
        width: 100%;
    }
}

.title-container{
    height:65px;
    background-color:green;
}


