h3{
    font-family: Arial, Helvetica, sans-serif;
}

.row{
    margin-left: 0;
    margin-right: 0;
    padding: 10px 100px 20px 100px;
}

.height-class{
    height: 500px!important;
}

.description{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:blue;
}

p{
    font-family: 'Times New Roman', Times, serif;
}