<div class="row row-center" id="row1">
  <div class="col-md-12" style="background-color:#7E5390;">
    <h2 class="card-title" style="margin:auto;padding:10px;"><b style="color:white">INBOUND SRI LANKA TOURS</b></h2>
  </div>
</div>

<div class="row row-center" id="row2">
  <div class="col-12 col-md-12">
    <div class="card">
      <h4 class="card-title" style="padding-left:20px"><b>TYPES OF SRI LANKA TOURS</b></h4>
      <div class="card-body">
       <div class="row">
         <div class="col-6 col-md-3">
            <a href="package-category/ROUND TOURS">
              <div class="card">
                <img class="card-img-top" src="assets/img/DestinationImages/dambulla.jpg" alt="Card image cap" height="120px">
                <div class="card-body" style="height:50px" id="body1">
                  <h6 class="card-title" align="center"><b>ROUND TOURS</b></h6>
                </div>
              </div>
            </a>
         </div>
         <div class="col-6 col-md-3">
           <a href="package-category/EXOTIC,RELAXING,SUN-KISSED">
             <div class="card">
              <img class="card-img-top" src="assets/img/Beach.jpg" alt="Card image cap" height="120px">
                <div class="card-body" style="height:50px" id="body2">
                  <h6 class="card-title" align="center"><b>EXOTIC . RELAXING . SUN-KISSED</b></h6>
                </div>
              </div>
           </a>
         </div>
         <div class="col-6 col-md-3">
          <a href="package-category/WILDLIFE">
            <div class="card">
              <img class="card-img-top" src="assets/img/wildlife.jpg" alt="Card image cap" height="120px">
              <div class="card-body" style="height:50px" id="body3">
                <h6 class="card-title" align="center"><b>NATURE . WILDLIFE . DISCOVERY</b></h6>
              </div>
            </div>
          </a>
         </div>
         <div class="col-6 col-md-3">
          <a href="package-category/ADVENTURE,ADRENALINE,AWAKENING">
            <div class="card">
              <img class="card-img-top" src="https://www.ceylontours.com/timthumb.php?src=https://www.ceylontours.com/uploads/tourtypes/CT_1428304428.jpg&w=640&h=371" alt="Card image cap" height="120px">
              <div class="card-body" style="height: 50px;" id="body4">
                <h6 class="card-title" align="center"><b>ADVENTURE . ADRENALINE . AWAKENING</b></h6>
              </div>
            </div>
          </a>
         </div>
       </div>
       <div class="row">
        <div class="col-6 col-md-3">
          <a href="package-category/CULTURE,HERITAGE,SPIRITUALITY">
            <div class="card">
              <img class="card-img-top" src="assets/img/about-us.jpg" alt="Card image cap" height="120px">
              <div class="card-body" style="height:50px;" id="body5">
                <h6 class="card-title" align="center"><b>CULTURE . HERITAGE .SPIRITUALITY</b></h6>
              </div>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-3">
          <a href="package-category/SERENE,RETREAT,SANCTUARY">
            <div class="card">
              <img class="card-img-top" src="assets/img/DestinationImages/bundala.jpg" alt="Card image cap" height="120px">
              <div class="card-body" style="height: 50px;" id="body6">
                <h6 class="card-title" align="center"><b>SERENE . RETREAT . SANCTUARY</b></h6>
              </div>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-3">
          <a href="package-category/PURIFY,CLEANSE,REJUVENATE">
            <div class="card">
              <img class="card-img-top" src="assets/img/yoga.jpeg" alt="Card image cap" height="120px">
              <div class="card-body" style="height: 50px;" id="body7">
                <h6 class="card-title" align="center"><b>PURIFY . CLEANSE . REJUVENATE</b></h6>
              </div>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-3">
          <a href="package-category/CONNECT,ROMANCE,DREAM">
            <div class="card">
              <img class="card-img-top" src="assets/img/romance.jpg" alt="Card image cap" height="120px">
              <div class="card-body" style="height: 50px;" id="body8">
                <h6 class="card-title" align="center"><b>CONNECT . ROMANCE . DREAM</b></h6>
              </div>
            </div>
          </a>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>