.row-center{
    margin-left: 0;
    margin-right: 0;
    padding: 10px 100px 20px 100px;
}

h4{
    font-family: sans-serif;
}

h2{
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}