<div class="row">
    <div class="col-md-12 card" style="height:65px;background-color:green;">
      <h3 class="card-title" style="margin:auto;padding:5px;color:white"><b>FREQUENTLY ASKED QUESTIONS BEFORE VISITING SRI LANKA</b></h3>
    </div>
</div>  

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <a href="#" id="ref1" (click)="show_close('card1')">
        <h5 class="card-title" style="background-color:blue;padding-left:10px;height:40px;margin-top:0px;color:white;font-family:'Times New Roman', Times, serif;">
          <b>
            What are the visa requirements for visiting sri lanka?
          </b>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </h5>
      </a>
      <div class="card-body" id="card1">
        <p class="card-text">
          Since 1st January 2012, all travelers who wish to travel to Sri Lanka for holiday or business purpose must 
          <a href="http://www.eta.gov.lk/slvisa/"> obtain an Electronic Travel Authorization (ETA) from Department of Immigration & Emigration and the Sri Lankan Overseas Missions</a>
          head office for entering in to Sri Lanka.
        </p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <a href="#" id="ref2" (click)="show_close('card2')">
        <h5 class="card-title" style="background-color: maroon;padding-left:10px;height:40px;margin-top:0px;color:white" >
          <b>
            What is Electronic Travel Authorization (ETA)?    
          </b>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </h5>
      </a>
      <div class="card-body" id="card2" style="display: none;">
        <p class="card-text">
          The ETA is an authorised body for Short Visits to Sri Lanka and is issued through its on-line system.
        </p>
        <br>
        <p class="card-text">
          An ETA is needed if your intention is to visit Sri Lanka as a Tourist, for Business or on Transit. No documentation, photographs or passport copies needed to apply and obtain for the same. The applicants will be given a “30 day short visit visa” at the port of entry in Sri Lanka.
        </p>
        <br>
        <p class="card-text">
          To apply and gain more information visit: 
          <a href="http://www.eta.gov.lk/slvisa/">www.eta.gov.lk/slvisa/</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <a href="#" id="ref3" (click)="show_close('card3')">
        <h5 class="card-title" style="background-color:orange;padding-left:10px;height:40px;margin-top:0px;color:white;font-family:'Times New Roman', Times, serif;">
          <b>
            How much does the ETA cost to sri lanka?
          </b>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </h5>
      </a>
      <div class="card-body" id="card3" style="display: none;">
        <p class="card-text">
          If you are a citizen of a SAARC (South Asian Association for Regional Cooperation) country, you may get amazing benefits.
        </p>
        <br>
        <ul class="list-group">
          <li class="list-group-item">For the 30-day Double Entry Tourist Visa, you will be charged with only 20 USD Electronic Travel Authorization (ETA) non-refundable processing fee.</li>
          <li class="list-group-item">For the Multiple Entry 30-day Business Visa, the ETA charges will be 30 USD only.</li>
        </ul>
        <br>
        <p class="card-text">
          If you are a citizen from Non-SAARC country, the 30-day Double Entry Tourist Visa ETA fee will be 35 USD and the Multiple Entry 30-day Business Visa ETA fee will be 40 USD.
        </p>
        <br>
        <p class="card-text">
          To apply and gain more information visit: 
          <a href="http://www.eta.gov.lk/slvisa/" target="_blank">www.eta.gov.lk/slvisa/</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <a href="#" id="ref4" (click)="show_close('card4')">
        <h5 class="card-title" style="background-color:purple;padding-left:10px;height:40px;margin-top:0px;color:white">
          <b>
            Once the 30 days are over, how can I get an extension on my visa?    
          </b>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </h5>
      </a>
      <div class="card-body" id="card4" style="display: none;">
        <p class="card-text">
          You can apply for an extended visa from Sri Lankan Embassy or consulate from your country prior to arrival. You may also apply from the Department of Immigration and Emigration in Colombo 10.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <a href="#" id="ref5" (click)="show_close('card5')">
        <h5 class="card-title" style="background-color:orange;padding-left:10px;height:40px;margin-top:0px;color:white">
          <b>
            What is the best time to visit Sri Lanka?     
          </b>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </h5>
      </a>
      <div class="card-body" id="card5" style="display: none;">
        <p class="card-text">
        	Sri Lanka is a beautiful tropical island with a sunny climate all year long, except for monsoon seasons that results in continuous showers. Following are best times to visit Sri Lanka; 
        </p>
        <br>
        <p class="card-text">
          <b>IDEAL TIME</b>
        </p>
        <p class="card-text">
          •	January to April 		(Entire Country)
        </p>
        <p class="card-text">
          •	Mid-July to September		(Entire Country)
        </p>
        <p class="card-text">
          •	February to September		(North and East)
        </p>
        <br>
        <p class="card-text">
          <b>MONSOON SEASON</b>
        </p>
        <p class="card-text">
          •	May to July 			(South West Monsoon)
        </p>
        <p class="card-text">
          •	October to January		(North East Monsoon)
        </p>
        <br>
        <p class="card-text">
          <b>BEACH SESSION</b>
        </p>
        <p class="card-text">
          •	January to April 		(South)
        </p>
        <p class="card-text">
          •	May to July 			(East)
        </p>
        <br>
        <p class="card-text">
          <b>WILDLIFE </b>
        </p>
        <p class="card-text">
          •	December to April		(Bundala National Park - Birds)	
        </p>
        <p class="card-text">
          (South coast - whales)
        </p>
        <p class="card-text">
          •	November to April 		(Kalpitiya - Dolphins)
        </p>
        <p class="card-text">
          •	July to September 		(The cultural Triangle)	
        </p>
        <p class="card-text">
         (The gathering of the elephants)		
        </p>
        <p class="card-text">
          (Yala/Wilpattu - Leopards)     
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <a href="#" id="ref6" (click)="show_close('card6')">
        <h5 class="card-title" style="background-color:grey;padding-left:10px;height:40px;margin-top:0px;color:white">
          <b>
            What is the time difference in Sri Lanka?  
          </b>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </h5>
      </a>
      <div class="card-body" id="card6" style="display: none;">
        <p class="card-text">
          Sri Lanka Standard Time is five and a half hours ahead of GMT.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <a href="#" id="ref7" (click)="show_close('card7')">
        <h5 class="card-title" style="background-color:blue;padding-left:10px;height:40px;margin-top:0px;color:white">
          <b>
            What about electricity?  
          </b>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </h5>
      </a>
      <div class="card-body" id="card7" style="display: none;">
        <p class="card-text">
          230, 240 volts, 50 cycles AC. It is best if you can bring a stabilizer.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <a href="#" id="ref8" (click)="show_close('card8')">
        <h5 class="card-title" style="background-color:red;padding-left:10px;height:40px;margin-top:0px;color:white">
          <b>
            What are the health precautions that I must take before visiting Sri Lanka?  
          </b>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </h5>
      </a>
      <div class="card-body" id="card8" style="display: none;">
        <p class="card-text">
          Immunizations are not compulsory unless you are from an area that is identified as a red zone for yellow fever or cholera. (Cholera is not considered a serious risk since it’s reported occasionally in Sri Lanka) However, the following vaccinations are recommended, particularly if you plan a long trip or intend visiting remote areas:
        </p>
        <p class="card-text">
          •	Typhoid (monovalent), Polio, Tetanus, Hepatitis A, Hepatitis B, Rabies
        </p>
        <p class="card-text">
          •	Children should, in addition, be protected against:
        </p>
        <p class="card-text">
          •	diphtheria, whooping cough, mumps, measles, rubella 
        </p>
        <br>
        <p class="card-text">
          Remember to plan well ahead with vaccinations. Allow up to six weeks to receive the full course, for some vaccinations require more than one dose, and some should not be given together.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <a href="#" id="ref9" (click)="show_close('card9')">
        <h5 class="card-title" style="background-color:blue;padding-left:10px;height:40px;margin-top:0px;color:white">
          <b>
            What are the payment modes in Sri Lanka?  
          </b>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </h5>
      </a>
      <div class="card-body" id="card9" style="display: none;">
        <p class="card-text">
          The local currency is Sri Lankan Rupee (Rs. and LKR). The currency denominations are as follows;
        </p>
        <p class="card-text">
          <b>Coins</b>
          : 5 cent, 10 cent, 25 cent, 50 cent, 1 Rupee, 2 Rupee, 5 Rupee and 10 Rupee
        </p>
        <p class="card-text">
          <b>Notes</b>
          : 10 Rupee, 20 Rupee, 50 Rupee, 100 Rupee, 200 Rupee, 500 Rupee, 1000 Rupee, 2000 Rupee and 5000 Rupee
        </p>
        <p class="card-text">
        	Apart from that most hotels, restaurants and shopping centres accept credit cards. The most widely used card types are Visa and MasterCard, with Amex to a lesser extent. Some establishments may try to add a surcharge, be warned it is illegal. 
        </p>
        <p class="card-text">
          Wherever you go, be sure to carry money in small denominations to make life easy for you during travelling.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <a href="#" id="ref10" (click)="show_close('card10')">
        <h5 class="card-title" style="background-color:orange;padding-left:10px;height:40px;margin-top:0px;color:white">
          <b>
            What Language will people understand?      
          </b>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </h5>
      </a>
      <div class="card-body" id="card10" style="display: none;">
        <p class="card-text">
          While Sinhala and Tamil become the official languages in Sri Lanka, English is widely spoken in all parts of the country with few exceptions. Travelling around the country is very convenient since most of the signboards and shop names are both written in native languages and in English. Apart from that if a need arise we can assign guides for the entire tour who are fluent in English, French, German, Spanish, Japanese and Italian languages, ensuring a smooth holiday in Sri Lanka.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <a href="#" id="ref11" (click)="show_close('card11')">
        <h5 class="card-title" style="background-color: maroon;padding-left:10px;height:40px;margin-top:0px;color:white">
          <b>
            What is the country code and how do I dial area codes?      
          </b>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </h5>
      </a>
      <div class="card-body" id="card11" style="display: none;">
        <p class="card-text">
          Sri Lanka's country code is 94. If you need to take an overseas call, you'll have to dial '00'. 
        </p>
        <p class="card-text">
          For more information visit: 
          <a href="http://en.wikipedia.org/wiki/Telephone_numbers_in_Sri_Lanka" target="_blank">Wikipedia - Telephone numbers in Sri Lanka.</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <a href="#" id="ref12" (click)="show_close('card12')">
        <h5 class="card-title" style="background-color:grey;padding-left:10px;height:40px;margin-top:0px;color:white">
          <b>
            Will I be able to use my debit and credit card, in case of cash shortage?
          </b>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </h5>
      </a>
      <div class="card-body" id="card12" style="display: none;">
        <p class="card-text">
          Yes you are able to. ATM’s are available in main cities and you are able to withdraw cash against VISA/Mastercard. But it’s advisable to ensure the usage validity of your credit/debit card by contacting your bank. 
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <a href="#" id="ref13" (click)="show_close('card13')">
        <h5 class="card-title" style="background-color: maroon;padding-left:10px;height:40px;margin-top:0px;color:white">
          <b>
            What are the general working hours and days?    
          </b>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </h5>
      </a>
      <div class="card-body" id="card13" style="display: none;">
        <p class="card-text">
          •	Banks are open from Monday to Friday from 0900hrs to 1500hrs. But selected main branches are open on Saturday until 1300hrs. ATM’s can be accessed 24/7.
        </p>
        <p class="card-text">
          •	Government offices are open from Monday to Friday from 0930hrs to 1700hrs
        </p>
        <p class="card-text">
          •	Many of the shops are generally open by 1000hrs and closes by 2000hrs, but some open at 9000hrs and stay opened till 2100hrs.    
        </p>
        <p class="card-text">
          All organizations and shops are closed on Sunday’s and Full moon Poya days.  
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
      <div class="card">
        <a href="#" id="ref14" (click)="show_close('card14')">
          <h5 class="card-title" style="background-color:purple;padding-left:10px;height:40px;margin-top:0px;color:white">
            <b>
              What are the emergency contact points?    
            </b>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </h5>
        </a>
        <div class="card-body" id="card14" style="display: none;">
          <p class="card-text">
        		Following are the emergency contact points for your convenience. 
          </p>
          <div class="card-body">
            <table class="table table-dark">
              <thead class=" text-primary">
                <th>
                  <b>Emergency Services</b>
                </th>
                <th class="text-right">
                  Telephone Number
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let details of emergency_details">
                  <td>
                    {{details.service}}
                  </td>
                  <td class="text-right">
                    {{details.tel}}
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>