h3{
    font-family: Arial, Helvetica, sans-serif;
}

.row{
    margin-left: 0;
    margin-right: 0;
    padding: 10px 100px 20px 100px;
}

a:hover{
    text-decoration: none;
}

h5{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

p{
    text-align: justify;
}



