h3{
    font-family: sans-serif;
}

.row-center{
    margin-left: 0;
    margin-right: 0;
    padding: 10px 100px 20px 100px;
    margin-top:-40px
}

a:hover{
    text-decoration: none;
    font-family: sans-serif;
}

h5{
    font-family: sans-serif;
    text-transform: uppercase;
}

p{
    text-align: justify;
    font-family: sans-serif;
}

a{
    font-family: sans-serif;
}

li{
    font-family:sans-serif;
}

.faq-height{
    height: 40px;
}


