h2{
    font-family: sans-serif;
}

.row-center{
    margin-left: 0;
    margin-right: 0;
    padding: 10px 100px 20px 100px;
}

p{
    font-family: sans-serif;
    padding-left:10px;
    padding-right:10px;
}