
    <div id="carouselExampleControls_home" class="carousel slide" data-ride="carousel" style="margin-top:-20px;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://firebasestorage.googleapis.com/v0/b/hotel-management-5b661.appspot.com/o/image_carousal%2Fimage0?alt=media&token=43f566ce-0750-499a-a87c-de91bccba93e" style="height:500px;margin-left:0;margin-right:0;padding-left:0;padding-right:0;" class="d-block w-100" alt="image">
            </div>
            <div class="carousel-item" *ngFor="let images of image_carousal_array">
                <img [src]="images.fileUrl" class="d-block w-100" style="height:500px;padding-left:0;padding-right:0;" alt="...">
            </div>           
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls_home" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls_home" role="button" data-slide="next" id="carousal_home">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>




<div class="row row-center" *ngIf="image_carousal_array.length==0">
    <div class="col-md-4 col-sm-4"></div>
    <div class="col-md-4 col-sm-4" style="padding-left:120px">
        <div class="loader"></div>
        <span style="color:red"><b>LOADING IMAGES</b></span>
    </div>
</div>

<br>

<div class="row row-center">
    <div class="heading" id="heading">
        <h2 id="txt" class="trans" style="padding-top:20px">Welcome to ABR Holidays</h2>
    </div>
</div>  

<!-- <div class="row row-center" style="padding-top:10px;padding-left:120px">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="brand_logo_container">
            <img src="assets/img/ABR.png" class="brand_logo" alt="Logo">
        </div>
    </div>
    <div class="col-md-4"></div>
</div> -->


<div class="row row-center" style="margin-top:20px">
    <div class="col-md-8 col-sm-12">
        <div class="card" style="background-color:#3498db!important">
            <h4 class="card-title" style="padding-left:50px;color:white"><b>INBOUND PACKAGES</b></h4>
            <div class="card-body card-img-top">
                <div class="row" style="margin-top:-13px">
                    <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel" style="margin-bottom:-15px;">
                        <div class="carousel-inner">
                            <!-- <div > -->
                            <div class="carousel-item active">
                                <img src="assets/img/bg.jpg" style="padding-left:0;padding-right:0;padding-bottom:0;width:1000px" class="d-block" alt="package">
                                <div class="carousel-caption">
                                    <h3 style="color:red;margin-top:-200px;"><b>WELCOME TO OUR PACKAGES</b></h3>
                                        <!-- <button type="button" class="btn btn-danger">Read More</button> -->
                                </div>
                            </div>
                            <div class="carousel-item" *ngFor="let package_data of package_data;let index=index">
                                <img src="{{package_data.image_url}}" class="d-block" alt="{{package_data.package_name}}" style="padding-left:0;padding-right:0;padding-bottom:0;width:1000px">
                                <div class="carousel-caption">
                                    <img src="https://www.ceylontours.com/images/day.png">
                                    <h3 style="color:red"><b>{{package_data.no_of_days}} Days</b></h3>
                                    <a href="inbound-packages/{{package_data.package_id}}" class="btn btn-danger">Read More</a>
                                </div>
                            </div>           
                        </div>
                        <div *ngFor="let package_data of package_data;let index=index">
                            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>               
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="card" style="background-color:#E74C3C">
            <h4 class="card-title" align="center" style="color:white"><b>DISCOVER THE WORLD</b></h4>
            <img class="card-img-top" src="https://www.ceylontours.com/images/discover-the-world.jpg" alt="Card image cap">
            <div class="card-body" style="height:152px">
                <p class="card-text" style="font-size: 16px;color:white;margin-top:20px">If you were looking for a holiday, we have the perfect agenda for you</p>
                <div class="row" id="discover_row" style="margin-top:-2px">
                    <div class="col-4 col-md-4"></div>
                    <div class="col-4 col-md-4"></div>
                    <div class="col-4 col-md-4">
                        <a href="/discover-world" id="dis_btn" class="btn btn-primary" style="margin-left:-15px;margin-top:-6px"><b>READ MORE</b></a>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>     

<div class="row row-center">
    <div class="col-md-12 col-sm-12">
        <div class="card" id="news_feed_card" style="height:90px;">
            <div class="row row-center">
                <div class="col-md-4 col-12 rect">
                    <div class="row" style="padding-left:10px">
                        <i class="fa fa-newspaper-o fa-5x" style="margin-top:10px" aria-hidden="true"></i>
                        <div style="float:left;margin-left:20px;margin-top:-8px">
                            <h4><b style="font-family: serif;color:white">NEWS FEED</b></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-12 news-container" id="news_containers">  
                    <div id="carouselExampleControls6" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/img/bg.jpg" style="height:90px;padding:0 0 0 0" class="d-block w-100" alt="...">
                                <div class="carousel-caption" style="height:80px">
                                    <!-- <h4 style="color:red;margin-top:0px;padding-left:0;"><b>News</b></h4> -->
                                    <!-- <p id="news_feed_title" style="text-align:justify;margin-left:-65px;margin-top:2px"><a href="/news-events/{{news_feed_data_array[0].id}}">{{news_feed_data_array[0].title}}</a></p> -->
                                    <h3 id="news_feed_data" style="text-align:justify;margin-left:30px;margin-top:20px"><b style="color:red">WELCOME TO THE NEWS FEED</b></h3>
                                </div>
                            </div>
                            <div class="carousel-item" *ngFor="let news of news_feed_data_array;let index=index">
                                <img src="assets/img/blank.png" class="d-block w-100" style="height:90px;padding:0 0 0 0" alt="...">
                                <div class="carousel-caption" style="height:80px;">
                                    <!-- <h4 style="color:red;margin-top:0px;padding-left:0;"><b>News</b></h4> -->
                                    <p id="news_feed_title1" style="text-align:justify;margin-left:-60px;margin-top:2px"><a href="/news-events/{{news.id}}">{{news.title}}</a></p>
                                    <p id="news_feed-data1" style="text-align:justify;margin-left:-60px;margin-top:-15px">{{news_feed_news[index]}}</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls6" role="button" data-slide="prev">
                            <i class="fa fa-chevron-left fa-2x" style="color:black" aria-hidden="true"></i>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls6" role="button" data-slide="next">
                            <i class="fa fa-chevron-right fa-2x" style="color:black" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-center">
    <div class="col-md-4 col-sm-12">
        <div class="card" style="background-color:#23a516">
            <img class="card-img-top" src="https://www.ceylontours.com/images/faq.jpg" height="320px" alt="Card image cap">
            <div class="card-body" id="faq_body" style="height:134px">
                <h4 class="card-title" style="margin-top:-13px;color:white"><b>FAQ</b></h4>
                <p class="card-text" style="font-size: 16px;color:white;margin-top:-5px">“Have some question? We'll help you to solve them”</p>
                <div class="row" id="faq_row" style="margin-top:-27px;padding-right:6px">
                    <div class="col-4 col-md-4"></div>
                    <div class="col-4 col-md-4"></div>
                    <div class="col-4 col-md-4">
                        <a href="/faq" id="faq_btn" class="btn btn-primary"><b>READ MORE</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="background-color:#ffb000">
            <img class="card-img-top" src="assets/img/transfers/transfer12.jpg" height="320px" alt="Card image cap">
            <div class="card-body" id="transfer_body" style="height:134px">
                <h4 class="card-title" style="margin-top:-13px;color:white"><b>TRANSFERS</b></h4>
                <p class="card-text" style="font-size:16px;color:white;margin-top:-5px">“Let us take you there, where you can leave your footprints”</p>
                <div class="row" id="transfer_row" style="margin-top:-27px;padding-right:6px">
                    <!-- <a href="/transfers" class="btn btn-primary" style="margin-top:-18px;"><b>READ MORE</b></a> -->
                    <div class="col-4 col-md-4"></div>
                    <div class="col-4 col-md-4"></div>
                    <div class="col-4 col-md-4">
                        <a href="/transfers" id="transfer_btn" class="btn btn-primary"><b>READ MORE</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!-- <div style="height:260px">
            <div class="card">
                <div class="card-body" style="background-image: url('assets/img/bg.jpg');">
                    <img class="card-img-top" src="assets/img/bg.jpg" alt="Card image cap">
                    <h4 class="card-title">ACCOMODATION</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div> -->
        <!-- <div style="height:260px"> -->
        <div class="card">
            <div class="card-body" style="background-color:#04558b;height:454px;">
                <div class="row" style="margin-top:-15px">
                    <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/img/background_sky.jpg" class="d-block w-100" alt="testimonials" style="height:415px;padding-left:0;padding-right:0">
                                    <div class="carousel-caption d-none d-md-block">
                                        <p style="text-align:justify;color:black;margin-top:-300px"><i class="fa fa-comments fa-2x" aria-hidden="true"></i><b style="padding-left:10px;font-size:20px;">TESTIMONIALS</b></p>
                                        <p style="text-align:justify;margin-top:10px;margin-left:50px">Hello Mrs.Perera</p>
                                    </div>
                            </div>
                            <div class="carousel-item" *ngFor="let news of news_feed_data_array;let index=index">
                                <img src="assets/img/background_sky.jpg" class="d-block w-100" style="height:415px;padding-left:0;padding-right:0" alt="testimonials">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                            <i class="fa fa-chevron-left fa-2x" style="color:black" aria-hidden="true"></i>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                            <i class="fa fa-chevron-right fa-2x" style="color:black" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="row row-center" id="testimonials_row" style="margin-top:-9px;padding-left:2px">
                    <div class="col-4 col-md-4"></div>
                    <div class="col-4 col-md-4"></div>
                    <div class="col-4 col-md-4">
                        <a href="/testimonials" id="testi_btn" class="btn btn-primary"><b>READ MORE</b></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>


