
    <div id="carouselExampleControls_home" class="carousel slide" data-ride="carousel" style="margin-top:-20px">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://firebasestorage.googleapis.com/v0/b/hotel-management-5b661.appspot.com/o/image_carousal%2Fimage0?alt=media&token=43f566ce-0750-499a-a87c-de91bccba93e" style="height:400px;" class="d-block w-100" alt="image">
            </div>
            <div class="carousel-item" *ngFor="let images of image_carousal_array">
                <img [src]="images.fileUrl" class="d-block w-100" style="height:400px;" alt="...">
            </div>
            <!-- <div class="carousel-item">
                <img src="assets/img/bg.jpg" style="height:400px;" class="d-block w-100" alt="...">
            </div> -->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls_home" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls_home" role="button" data-slide="next" id="carousal_home">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



<div class="row row-center" *ngIf="image_carousal_array.length==0">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="loader"></div>
        <span style="color:red"><b>LOADING IMAGES</b></span>
    </div>
</div>

<br>

<div class="row row-center">
    <div class="heading" align="center">
        <h2 id="txt"><b>Welcome to ABR Tours</b></h2>
        <img style="border-radius: 50%;height:150px;" src="assets/img/mike.jpg" >
    </div>
</div>  


<div class="row row-center" style="margin-top:80px">
    <div class="col-md-8">
        <div class="card" style="background-color:chartreuse;">
            <h4 class="card-title" align="center"><b>INBOUND PACKAGES</b></h4>
            <div class="card-body card-img-top">
                <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <!-- <div > -->
                            <div class="carousel-item active">
                                <img src="assets/img/bg.jpg" class="d-block w-100 card-img-top " alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3 style="color:red;margin-top:-200px;"><b>WELCOME TO OUR PACKAGES</b></h3>
                                    <!-- <button type="button" class="btn btn-danger">Read More</button> -->
                                </div>
                            </div>
                            <div class="carousel-item" *ngFor="let package_data of package_data;let index=index">
                                <img src="{{package_data.image_url}}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <img src="https://www.ceylontours.com/images/day.png">
                                    <h3 style="color:red"><b>{{package_data.no_of_days}} Days</b></h3>
                                    <a href="inbound-packages/{{package_data.package_id}}" class="btn btn-danger">Read More</a>
                                </div>
                            </div>
                            <!-- <div class="carousel-item" *ngIf="index!=0">
                                <img src="{{package_data.image_url}}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>{{package_data.no_of_days}}</h3>
                                    <button type="button" class="btn btn-danger" (click)="read_more(package_data.package_id)">Read More</button>
                                </div>
                            </div> -->
                        <!-- </div> -->
                        <!-- <div class="carousel-item">
                            <img src="assets/img/bg.jpg" class="d-block w-100" alt="...">
                        </div> -->
                    </div>
                    <div *ngFor="let package_data of package_data;let index=index">
                        <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>               
    </div>
    <div class="col-md-4">
        <div class="card" style="background-color:red">
            <h4 class="card-title" align="center"><b>DISCOVER THE WORLD</b></h4>
            <img class="card-img-top" src="https://www.ceylontours.com/images/discover-the-world.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text" style="font-size: 20px;color:white"><b>If you were looking for a holiday, we have the perfect agenda for you</b></p>
                <button type="button" class="btn btn-primary"><b>READ MORE</b></button>
            </div>
        </div>
    </div>
</div>     

<div class="row row-center">
    <div class="col-md-12">
        <div class="card" style="height:90px;">
            <div class="row row-center">
                <div class="col-md-4 rect">
                    <div class="row" style="padding-left:10px">
                        <i class="fa fa-newspaper-o fa-5x" style="margin-top:10px" aria-hidden="true"></i>
                        <div style="float:left;margin-left:20px;margin-top:-8px">
                            <h4><b style="font-family: serif;">NEWS FEED</b></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 news-container" id="news_containers">  
                    <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel" *ngIf="news_feed_data_array.length>0">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/img/blank.png" style="height:80px;" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block" style="height:80px;">
                                    <!-- <h4 style="color:red;margin-top:0px;padding-left:0;"><b>News</b></h4> -->
                                    <p id="news_feed" style="text-align:justify;padding-left:0"><a href="/news-events/{{news_feed_data_array[0].id}}">{{news_feed_data_array[0].title}}</a></p>
                                    <p id="news_feed" style="text-align:justify;padding-left:0;margin-top:-15px">{{news_feed_data_array[0].news}}</p>
                                </div>
                            </div>
                            <div class="carousel-item" *ngFor="let news of news_feed_data_array;let index=index">
                                <img src="assets/img/blank.png" class="d-block w-100" style="height:80px;" alt="...">
                                <div class="carousel-caption d-none d-md-block" style="height:80px;">
                                    <!-- <h4 style="color:red;margin-top:0px;padding-left:0;"><b>News</b></h4> -->
                                    <p id="news_feed" style="text-align:justify;padding-left:0"><a href="/news-events/{{news.id}}">{{news.title}}</a></p>
                                    <p id="news_feed" style="text-align:justify;padding-left:0;margin-top:-15px">{{news.news}}</p>
                                </div>
                            </div>
                            <!-- <div class="carousel-item">
                                <img src="assets/img/blank.png" style="height:80px;" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block" style="height:80px;">
                                    <p id="news_feed" style="text-align:justify;padding-left:0"><a href="">Hello Tilt</a></p>
                                    <p id="news_feed" style="text-align:justify;padding-left:0;margin-top:-15px">A religious festival celebrated by Hindus across Sri Lanka, Maha Sivaratri Festival is observed in the month of February on the 14th night of the new moon. With its name translating to &ldquo;Great</p>
                                </div>
                            </div> -->
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                            <i class="fa fa-chevron-left fa-2x" style="color:black" aria-hidden="true"></i>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                            <i class="fa fa-chevron-right fa-2x" style="color:black" aria-hidden="true"></i>
                            <!-- <span class="carousel-control-next-icon news" aria-hidden="true" style="background-color:black"></span>
                            <span class="sr-only">Next</span> -->
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-center">
    <div class="col-md-4">
        <div class="card" style="background-color: greenyellow;">
            <img class="card-img-top" src="https://www.ceylontours.com/images/faq.jpg" height="300px" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title"><b>FAQ</b></h4>
                <p class="card-text" style="font-size: 20px;color:white"><b>“Have some question? We'll help you...”</b></p>
                <a href="/faq" class="btn btn-primary"><b>READ MORE</b></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="background-color: orange;">
            <img class="card-img-top" src="assets/img/transfers/transfer12.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title"><b>TRANSFERS</b></h4>
                <p class="card-text" style="font-size: 20px;color:white"><b>“Let us take you there, where you can leave your footprints”</b></p>
                <a href="/transfers" class="btn btn-primary"><b>READ MORE</b></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!-- <div style="height:260px">
            <div class="card">
                <div class="card-body" style="background-image: url('assets/img/bg.jpg');">
                    <img class="card-img-top" src="assets/img/bg.jpg" alt="Card image cap">
                    <h4 class="card-title">ACCOMODATION</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div> -->
        <!-- <div style="height:260px"> -->
        <div class="card">
            <div class="card-body" style="background-image: url('assets/img/bg.jpg');">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/img/background_sky.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <p style="text-align:justify;color:black;margin-top:-300px"><i class="fa fa-comments fa-2x" aria-hidden="true"></i><b style="padding-left:10px;font-size:20px;">TESTIMONIALS</b></p>
                                <p style="text-align:justify;margin-top:10px;margin-left:50px">Hello Mrs.Perera</p>
                            </div>
                        </div>
                        <div class="carousel-item" *ngFor="let news of news_feed_data_array;let index=index">
                            <img src="assets/img/background_sky.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                        <i class="fa fa-chevron-left fa-2x" style="color:black" aria-hidden="true"></i>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                        <i class="fa fa-chevron-right fa-2x" style="color:black" aria-hidden="true"></i>
                    </a>
                </div>
                <a href="#" class="btn btn-primary"><b>READ MORE</b></a>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>


