<div class="row row-center" id="row1">
  <div class="col-12 col-md-12" style="background-color:green;">
    <h3 class="card-title" style="padding:10px;color:white"><b>TRAVEL INSURANCE</b></h3>
  </div>
</div>  
  
<div class="row row-center">
  <div class="col-12 col-md-12">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">★ With our partnership with a worldwide leading International Insurance and Financial Services Organization,Chartis Insurance Limited (formerly AIG Insurance) which caters to over 130 countries and more, ABR Tours presents you with Travel Insurance for a pleasant and safe trip that you can enjoy carefree</li>
      </ul>
    </div>
  </div>
</div>