
.row-center{
    margin-left: 0;
    margin-right: 0;
    padding: 10px 100px 20px 100px;
}

h3{
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
}

a{
    font-family: sans-serif;
}

.title-css{
    height:65px;
    background-color:lightblue;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
