<div class="row row-center" id="row1">
    <div class="col-12 col-md-12" style="background-color:green;">
      <h3 class="card-title" style="padding:5px;color:white"><b>TOURIST DESTINATIONS IN SRI LANKA</b></h3>
    </div>
</div> 

<div class="row row-center" id="row2">
  <div class="col-md-4 col-12" *ngFor="let destinations of destination_array">
    <div class="card">
      <div class="card-title"><h4 style="color:white;margin-top:0;padding-left:10px" [style.background-color]="destinations.color"><b>{{destinations.title}}</b></h4></div>
      <img src="{{destinations.image}}" style="margin-top:-15px" class="card-img-top" height="200px">
      <div class="card-body">
        <p class="card-text">{{destinations.description}}</p>
        <a href="destinations_readmore/{{destinations.id}}" class="card-link"><b>READ MORE</b></a>
    </div>
    </div>
  </div>
</div>

<div class="row row-center" *ngIf="destination_array.length>0">
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  <div>
    <ul>
      <li>
        <a href="destinations/{{page_no-1}}" *ngIf="page_no!=1">«</a>
      </li>
      <li class="active">
        <a href="destinations/1">1</a>
      </li>
      <li>
        <a href="destinations/2">2</a>
      </li>
      <li>
        <a href="destinations/3">3</a>
      </li>
      <li>
        <a href="destinations/4">4</a>
      </li>
      <li>
        <a href="destinations/5">5</a>
      </li>
      <li>
        <a href="destinations/{{page_no+1}}">»</a>
      </li>
    </ul>  
  </div>              
</div>


