<div class="row row-center" id="row1">
    <div class="col-12 col-md-12" style="background-color:green;">
      <h3 class="card-title" style="padding:5px;color:white"><b>TOURIST DESTINATIONS IN SRI LANKA</b></h3>
    </div>
</div> 

<div class="row row-center" id="row2">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
    </div>
  </div>
</div>


