<div class="row row-center" id="row1">
  <div class="col-12 col-md-12" style="background-color:green;">
    <h3 class="card-title" style="padding:10px;color:white"><b>Travel the world with best Sri Lanka outbound tour operators</b></h3>
  </div>
</div>  

<div class="row row-center" id="row2">
  <div class="col-md-12 col-sm-12">
    <div class="card">
      <h4 class="card-title" style="color:#3498db;padding-left:15px"><b style="color:#3498db">ABR TOURS</b> - World Wide Travel Expert</h4>
      <div class="card-body">
        <p>If you were looking for a holiday, we have the perfect agenda for you. Whether your budget is low or maybe not so low, whether you know what you want or do not, and especially if you do not have the time to plan the perfect holiday, we are here to help you make it happen. With our world wide travel experience, we will present you with your dream travel agenda to meet your budget, expectations and much more.</p>
        <p>With being the most experienced Sri Lanka outbound tour operators, Ceylon Tours is the ideal choice of travel agency to cater to your every need from the moment you purchase the ticket, to handling your Visauntil you are back inside the comfort of your own home.</p>
      </div>
    </div>
  </div>
</div>

<div class="row row-center" id="row3">
  <div class="col-12 col-md-4">
    <div class="card" style="background-color:#428bca">
      <img class="card-img-top" src="https://www.ceylontours.com/images/travel/air4.jpg" height="250px" alt="Card image cap">
      <div class="card-body" style="margin-top:-23px">
        <h4><b>TICKETING</b></h4>
        <p style="color:white">ABR Tours will handle all your airline reservations and ticketing needs to any destination...</p>
        <div class="row" style="margin-top:-20px">
          <div class="col-4 col-md-4"></div>
          <div class="col-4 col-md-4"></div>
          <div class="col-4 col-md-4">
            <a href="/ticketing" class="btn btn-primary" style="padding:5px 5px 5px 5px"><b>READ MORE</b></a>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="card" style="background-color:#23a516;">
      <img class="card-img-top" src="https://www.ceylontours.com/images/travel/passport.jpg" height="250px" alt="Card image cap">
      <div class="card-body" style="margin-top:-23px">
        <h4><b>VISA HANDLING</b></h4>
        <p style="color:white">ABR Tours will advise you on visa formalities and regulations...</p>
        <div class="row" style="margin-top:-20px">
          <div class="col-4 col-md-4"></div>
          <div class="col-4 col-md-4"></div>
          <div class="col-4 col-md-4">
            <a href="/visa-handling" class="btn btn-primary" style="padding:5px 5px 5px 5px"><b>READ MORE</b></a>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="card" style="background-color:#ffb000">
      <img class="card-img-top" src="https://www.ceylontours.com/images/travel/travel-insurance.jpg" height="250px" alt="Card image cap">
      <div class="card-body" style="margin-top:-23px">
        <h4><b>TRAVEL INSURANCE</b></h4>
        <p style="color:white">With our partnership with a worldwide leading International Insurance...</p>
        <div class="row" style="margin-top:-20px">
          <div class="col-4 col-md-4"></div>
          <div class="col-4 col-md-4"></div>
          <div class="col-4 col-md-4">
            <a href="/travel-insurance" class="btn btn-primary" style="padding:5px 5px 5px 5px"><b>READ MORE</b></a>
          </div> 
        </div>
      </div> 
    </div>
  </div>
</div>


  