h3{
    font-family: sans-serif;
}

.row-center{
    margin-left: 0;
    margin-right: 0;
    padding: 10px 100px 20px 100px;
}

p{
    font-family: sans-serif;
    text-align: justify;
    word-spacing:-1px;
}

h4{
    font-family: sans-serif;
    color:white;
}
