
<footer class="footer" style="background-color:grey">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="/contact-us">
            ABR HOLIDAYS
          </a>
        </li>
        <li>
          <a href="/about-us">
            ABOUT US
          </a>
        </li>
        <li>
          <a href="/home">
            BLOG
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Designed by
      <a href="#" target="_blank">Super Softwares</a>. Coded by
      <a href="#" target="_blank">Super Softwares</a>.
    </div>
  </div>
</footer>
