<div class="row row-center" id="row1">
    <div class="col-md-12" style="height:65px;background-color:green;">
      <h3 class="card-title" style="padding:10px;color:white" *ngIf="!is_target"><b>NEWS & EVENTS</b></h3>
      <h3 class="card-title" style="padding:10px;color:white" *ngIf="is_target"><b style="text-transform:uppercase">{{news_title}}</b></h3>
    </div>
</div> 


<div class="row row-center" id="row2" *ngIf="!is_target">
  <div class="col-md-4 col-sm-12" *ngFor="let news_feed of news_feed_array">
    <div class="card">
      <h4 class="card-title" style="padding-left:20px;margin-top:10px;"><b>{{news_feed.title}}</b></h4>
      <img class="card-img-top" src="assets/img/bg.jpg" alt="Card image cap">
        <div class="card-body" style="height:150px">
          <p class="card-text">{{news_feed.news}}</p>
          <div class="row" style="margin-top:60px">
            <div class="col-md-6 rect">
              <h6 style="padding-top: 10px;">
                <i class="fa fa-calendar" aria-hidden="true"></i> 
                <b style="margin-left:5px">{{news_feed.date}}</b>
              </h6>
            </div>
            <div class="col-md-6 rect">
              <h6 style="padding-top:8px;padding-right:0;"><b><a href="news-events/{{news_feed.id}}" style="text-decoration:none;color:white">READ MORE</a></b></h6>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="row row-center" id="row3" *ngIf="is_target">
  <div class="col-md-12">
      <div class="card">
        <div class="row" *ngFor="let news of news_feed_array">
          <div class="col-md-4">
            <img src="{{news.image_url}}">
          </div>
          <div class="col-md-8" style="padding-left:0;">
            <p style="text-align: justify;">{{news.news}}</p>
          </div>
        </div>
      </div>
  </div>
</div>