
h3{
    font-family: Arial, Helvetica, sans-serif;
}

.row-center{
    margin-left: 0;
    margin-right: 0;
    padding: 10px 100px 20px 100px;
}

.height-class{
    height: 500px!important;
}

.description{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:blue;
}

p{
    font-family: 'Times New Roman', Times, serif;
}

h3 .card-title{
    vertical-align: center;
}

.rect{
    // width: 100%;
    min-height: 40px;
    background-color: green;
}

h6{
    font-family: 'Times New Roman', Times, serif;
}

