<div class="row row-center" id="row1">
    <div class="col-md-12" style="height:65px;background-color:green;">
      <h3 class="card-title card-title-lap" id="title"><b>TESTIMONIALS</b></h3>
    </div>
</div> 


<div class="row row-center" id="row2">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row row-center" id="testimonial_carousal">
                  <div class="col-6 col-md-6">
                    <div class="card">
                      <h4 class="card-title" style="background-color:#3498db!important;margin-top: 0;color:white;padding-left:10px;"><b>Melissa USA</b></h4>
                      <div class="card-body">
                        <p class="card-text">Hi ABR Holidays,</p>
                        <p class="card-text">Thank you so much for a well organized trip.We had a wonderful time.Hard to believe it's already done and past.Weather was awesome,the hotels were nice.</p>
                        <p class="card-text" style="text-align: center;">Thank you once again for everything!</p>
                        <p class="card-text" style="text-align: center;">-Melissa USA-</p>
                        <!-- <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-6">
                    <div class="card">
                      <h4 class="card-title" style="background-color:orange;margin-top: 0;color:white;padding-left:10px;"><b>James Australia</b></h4>
                      <div class="card-body">
                        <p class="card-text">Hi ABR Holidays,</p>
                        <p class="card-text">Ravi planned a beautiful trip to Sri Lanka for our family.He found us lovely boutique hotels,knowledgeable tour guides and easy transportation plans.</p>
                        <p class="card-text" style="text-align: center;">We could just relax and enjoy our time in an incredible place.</p>
                        <p class="card-text" style="text-align: center;">I would definitely recommend ABR Holidays for all your vacation planning needs!</p>
                        <p class="card-text" style="text-align: center;">-James Australia-</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="carousel-item">
              <div class="row row-center" id="testimonial_carousal2">
                <div class="col-6 col-md-6">
                  <div class="card">
                    <h4 class="card-title" style="background-color:#3498db!important;margin-top: 0;color:white;padding-left:10px;"><b>Mika Germany</b></h4>
                    <div class="card-body">
                      <p class="card-text">Hi ABR Holidays,</p>
                      <p class="card-text">They simply took care of our everything! I recommend ABR Holidays if you are traveling in Sri lanka </p>
                      <p class="card-text" style="text-align: center;">-Mika Germany-</p>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-6">
                  <div class="card">
                    <h4 class="card-title" style="background-color:orange;margin-top: 0;color:white;padding-left:10px;"><b>Leonard Germany</b></h4>
                    <div class="card-body">
                      <p class="card-text">Hi ABR Holidays,</p>
                      <p class="card-text">Thank you Ravi for this unforgettable memory! Highly Recommended .</p>
                      <p class="card-text" style="text-align: center;">-Leonard Germany-</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="carousel-item">
              <div class="row row-center" id="testimonial_carousal1">
                <div class="col-12 col-md-12">
                  <div class="card">
                    <h4 class="card-title" style="background-color:#3498db!important;margin-top: 0;color:white;padding-left:10px;"><b>Melissa USA</b></h4>
                    <div class="card-body">
                      <p class="card-text">Hi ABR Holidays,</p>
                      <p class="card-text">Thank you Ravi for this unforgettable memory! Highly Recommended</p>
                      <p class="card-text" style="text-align: center;">-Leonard Germany-</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: black;"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: black;"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
