
<div class="logo" style="background-color:grey;">
    <a href="https://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="https://firebasestorage.googleapis.com/v0/b/hotel-management-5b661.appspot.com/o/ABR.png?alt=media&token=647fc424-f023-4ed5-810f-93449e53ebbe"/>
      </div>
    </a>
    <a href="#" class="simple-text logo-normal">
        <b>Hotel</b>
    </a>
</div>
<div class="sidebar-wrapper" style="background-color:grey;">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p><b style="color:black">{{menuItem.title}}</b></p>
            </a>
        </li>
    </ul>
</div>
