<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Notifications</h2>
    <p class="category">User Enquiries
    </p>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngIf="notification_array.length>0">
        <div class="card-header">
          <h4 class="card-title"><b>ENQUIRIES</b></h4>
        </div>
        <div class="card-body" id="notification_card">
        <div class="alert alert-info alert-with-icon" data-notify="container" *ngFor="let notifications of notification_array">
            <button type="button" aria-hidden="true" class="close" (click)="mark_view(notifications.id)" >
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span data-notify="icon" class="now-ui-icons ui-1_bell-53"></span>
            <span data-notify="message" style="text-transform: uppercase;font-weight: bolder;">YOU HAVE 1 ENQUIRY FROM {{notifications.first_name+' '+notifications.second_name}} from {{notifications.country}}. Click <a href="#" (click)="open_modal(notifications.id)" id="view_message" data-toggle="modal" data-target="#exampleModal">here</a> to view enquiry</span>
          </div>
        </div>
      </div>
      <div class="card" *ngIf="notification_array.length==0">
        <h2 class="card-title" align="center"><b style="color:red">EMPTY ENQUIRIES</b></h2>
      </div>
    </div>
  </div>
</div>

  

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="color:red"><b style="text-transform: uppercase;"> VIEW ENQUIRY</b></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngFor="let data of filtered_data">
            <p><b>Name :</b> {{data.first_name}} {{data.second_name}}</p>
            <p><b>City :</b> {{data.city}}</p>
            <p><b>Country :</b> {{data.country}}</p>
            <p><b>Address :</b> {{data.address}}</p>
            <p><b>Email :</b> {{data.email}}</p>
            <p><b>Date Of Birth :</b> {{data.dob}}</p>
            <p><b>State :</b> {{data.state}}</p>
            <p><b>Nationality :</b> {{data.nationality}}</p>
            <p><b>Tel :</b> {{data.phone}}</p>
            <hr>
            <p><b>Tour Name :</b> {{data.tour_name}}</p>
            <p><b>Accomodations :</b> {{data.accomodations}}</p>
            <p><b>Meal Plan :</b> {{data.meals}}</p>
            <p><b>Quote For Airfare :</b> {{data.airfare_check}}</p>
            <p><b>Arrival :</b> {{data.arrival}}</p>
            <p><b>Departure :</b> {{data.departure}}</p>
            <p><b>No of Adults :</b> {{data.no_of_adults}}</p>
            <p><b>No of Children :</b> {{data.no_of_children}}</p>
            <p><b>Approximate Budget Per Person :</b> {{data.budget}}</p>
            <p><b>Interest in Active Travelling :</b> {{data.interest_in_travel}}</p>
            <p><b>Destination Experience :</b> {{data.destinations_experience}}</p>
            <p><b>Special Occasions :</b> {{data.special_occasion}}</p>
            <p><b>Special Requirements :</b> {{data.special_requirements}}</p>
            <p><b>Search Engines :</b> {{search_engines}}</p>
            <p><b>Website Link :</b> {{data.website_link}}</p>
            <p><b>KeyWords :</b> {{data.keywords}}</p>
            <p><b>Referral :</b> {{data.referral}}</p>
            <p><b>Description :</b> {{data.description}}</p>
            <hr>
            <p><b>Desired Physical Activities :</b> {{physical_activities}}</p>
            <p><b>Adventure Activities :</b> {{ad_activities}}</p>
            <p><b>Sun Activities :</b> {{sun_activities}}</p>
            <p><b>Specific Interests :</b> {{specific_interests}}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
