<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="https://mail.google.com/mail/u/0?ui=2&ik=9611d057fb&attid=0.1&permmsgid=msg-f:1651615582924776356&th=16ebb79f3dbb23a4&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_C8-GKrqGcK5BCtdK2zzAyqH3dNCeXa7u1OA5BuZKK9n5o08rXpZQKuSijQ7K5JOq9lg67dn5bl-XsD7Ljjs6HNcLOc3wiY07rRnjthQaPu8XNj3fTXns3jv8&disp=emb&realattid=ii_k3lbumyh0" height="70px">
    <button class="navbar-toggler" type="button" style="height:38px;margin-right:5px" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="margin-top:0px;margin-left:-8px;"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-us">About Us</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/services">Services</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/news-events/my_news">News & Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/destinations">Destinations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/testimonials">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact-us">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>